  <div id="show_questions">
  <h2><%= @question.title %></h2>
  <p>by: <%= @question.user.username %></p>
  <p>posted: <%= @question.created_at %></p>

  <% if @question.tags %>
    <p>tags:
    <% @question.tags.each do |tag| %>
      <a href="/tags/<%= tag.id %>"><%= tag.name %></a>
    <% end %>
  <% end %></p>

  <p><%= @question.body %></p>

  <% if logged_in? %>
  <form id="comment_question_button" action="/questions/<%= @question.id %>/comments">
    <input type="hidden" value="<%= params[:id] %>" name="question_id">
    <input type="submit" value="Add a comment">
  </form>
  <div id="comment_question_form_container">
  </div>

    <form id="new_answer_button" action="/answers/new" method="post" >
      <input type="hidden" value="<%= params[:id] %>" name="question_id">
      <input type="submit" value="Answer the question">
    </form>
    <div id="new_answer_form_container">
    </div>

    <form id="question-upvote" action="/questions/<%= @question.id %>/upvote" method="post">
      <input type="submit" value="upvote" name= "vote">
    </form>

    <form id="question-downvote" action="/questions/<%= @question.id %>/downvote" method="post">
      <input type="submit" value="downvote" name="vote">
    </form>

    <br>

    <% if @errors %>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>
  <% end %>

  <p>Score: <%= @score %></p>

  <% if logged_in? && is_current_user?(@question.user_id) %>
    <a href="/questions/<%= @question.id %>/edit">Edit or delete your question</a>
  <% end %>
  <div id="comment_question_container">
   <h5>Comments: </h5>
   <ul>
   <% @question.comments.each do |comment| %>
        <%= erb :'/questions/_new_comment_show', locals: { comment: comment } %>
    <% end %>
    </ul>
  </div>

  <br><br>

  <% if @answers.empty? %>
    No one has answered this question yet.
  <% else %>
    <h3>All answers</h3>
    <% if @ans_errors %>
      <% @ans_errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>
  <% end %>
  <div id="display_answers">
  <% @answers.each do |answer| %>

    <% if logged_in? && is_current_user?(answer.question.user_id) %>

      <form action="/answers/<%= answer.id %>/bestanswer" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" value="<%= params[:id]%>" name="question_id">
        <input type="submit" value="Select as best answer">
      </form>

    <% end %>
  <p><%= answer.body %></p>
  <p>posted: <%= long_form_date(answer.created_at) %></p>
  <p>by: <%= answer.user.username %></p>

     <% if logged_in? && is_current_user?(answer.user_id) %>
      <a href="/answers/<%= answer.id %>/edit">Edit or delete your answer</a>
    <% end %>

    <% if logged_in? %>

      <form class="comment_answer_button" action="/answers/<%= answer.id %>/comments" >
      <input type="hidden" value="<%= params[:id]%>" name="question_id">
      <input type="submit" value="Add a comment">
      </form>
       <div class="comment_answer_form_container">
      </div>
      <form class="answer-upvote" action="/answers/<%= answer.id %>/upvote " method="post">
        <input type="submit" value="upvote" name= "vote">
      </form>

      <form class="answer-downvote" action="/answers/<%= answer.id %>/downvote" method="post">
        <input type="submit" value="downvote" name="vote">
      </form>
    <% end %>

    <span>Score: <%= get_score(answer) %></span>

    <% if answer.best_answer  %>
      <p>**********************<br>
        BEST ANSWER!<br>
      **********************<p>
    <% end %>

      <br>

    <% if answer.best_answer  %>
    <p>***********************************************************************<br>
    Other answers:</p>
    <% end %>
    <br>
    <h5>Comments: </h5>
    <div class="comment_answer_container">
    <ul>
    <% answer.comments.each do |comment| %>
        <%= erb :'/answers/_new_comment_show', locals: {comment: comment } %>
    <% end %>
    </ul>
  </div>
  <% end %>

</div>
</div>
