<div>
  <h2><%= @question.title %></h2>
  <p>by: <%= @question.user.username %></p>
  <p>posted: <%= @question.created_at %></p>
  <% if @question.tags %>
  <p>tags:
    <% @question.tags.each do |tag| %>
      <a href="/tags/<%= tag.id %>"><%= tag.name %></a>
    <% end %>
    <% end %></p>

  <p><%= @question.body %></p>

  <% if logged_in? %>

  <form action="/questions/<%= @question.id %>/comments" >
    <input type="hidden" value="<%= params[:id]%>" name="question_id">
    <input type="submit" value="Add a comment">
  </form>

  <form action="/answers/new" >
    <input type="hidden" value="<%= params[:id]%>" name="question_id">
    <input type="submit" value="Answer the question">
  </form>

  <form action="/questions/<%= @question.id %>/vote" method="post">
    <input type="submit" value="upvote" name= "vote">
    <input type="submit" value="downvote" name="vote">
  </form>

  <br>

  <% if @errors %>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>

  <% end %>

  <p>Score: <%= @score %></p>

  <% if logged_in? && is_current_user?(@question.user_id) %>
  <a href="/questions/<%= @question.id %>/edit">Edit or delete your question</a>
  <% end %>

   <h5>Comments: </h5>
   <% @question.comments.each do |comment| %>
        <%= comment.body %> - <%= comment.user.username %>
      <% end %>

  <br><br>
  <% if @answers.empty? %>
    No one has answered this question yet.
  <% else %>
    <h3>All answers</h3>
    <% if @ans_errors %>
    <% @ans_errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
    <% @answers.each do |answer| %>

      <h4><%= answer.body %></h4>

      <p>posted: <%= answer.created_at %></p>
      <p>by: <%= answer.user.username %></p>
      <%= answer.body %><br>


      <% if logged_in? %>

        <form action="/answers/<%= answer.id %>/comments" >
        <input type="hidden" value="<%= params[:id]%>" name="question_id">
        <input type="submit" value="Add a comment">
      </form>

        <form action="/answers/<%= answer.id %>/vote" method="post">
          <input type="submit" value="upvote" name= "vote">
          <input type="submit" value="downvote" name="vote">
        </form>
      <% end %>

      <span>score: <%= get_score(answer) %></span>

      <% if logged_in? && is_current_user?(answer.user_id) %>
        <a href="/answers/<%= answer.id %>/edit">Edit or delete your answer</a>

      <% end %>


      <br>
      <h5>Comments: </h5>
      <% answer.comments.each do |comment| %>
          <%= comment.body %> - <%= comment.user.username %><br>
      <% end %>
    <% end %>    

  <% end %>

</div>
