
<div class="container-fluid">

<div class="page-header">
  <h1 class="display-3">Welcome, <%=@user.username%>!</h1>
</div>

<br>

<div class="list-group">
  <p class="list-group-item active">
    Questions you've asked
  </p>
  <% if @user_questions.length > 0 %>
  <% @user_questions.each do |question| %>
    <a href="/questions/<%=question.id%>" class="list-group-item list-group-item-action"><%= question.title %></a>
  <% end %>
  <% else %>
  <p class="list-group-item list-group-item-action">You haven't asked any questions yet! <a href="/questions/new">Ask a question</a>!</p>
  <% end %>
</div>

<br>

<div class="list-group">
  <p class="list-group-item active">
    Questions you've answered
  </p>
  <% if @user_answers.length > 0 %>
  <% @user_answers.each do |answer| %>
    <a href="/questions/<%=answer.question.id%>" class="list-group-item list-group-item-action"><%= answer.question.title %></a>
  <% end %>
  <% else %>
  <p class="list-group-item list-group-item-action">You haven't answered any questions yet! <a href="/questions">Find a question to answer</a>!</p>
  <% end %>
</div>

<br>

<div class="list-group">
  <p class="list-group-item active">
    Posts you've liked
  </p>
  <% if @liked_posts %>     <!--  not going to else, even when empty!  -->
  <% @liked_posts.each do |question| %>
    <a href="/questions/<%=question.id%>" class="list-group-item list-group-item-action"><%= question.title %></a>
  <% end %>
  <% else %>
    <p class="list-group-item list-group-item-action">You haven't voted on anything yet! <a href="/questions">Find a question</a>!</p>
  <% end %>
</div>

<br><br><br>

</div>

