<h4><%= answer.body %></h4>
      <p>posted: <%= long_form_date(answer.created_at) %></p>
      <p>by: <%= answer.user.username %></p>

    <% if logged_in? && is_current_user?(answer.question.user_id) %>

      <form action="/answers/<%= answer.id %>/bestanswer" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" value="<%= answer.question_id %>" name="question_id">
        <input type="submit" value="Select as best answer">
      </form>

    <% end %>
  <p>posted: <%= answer.created_at %></p>
  <p>by: <%= answer.user.username %></p>
    <%= answer.body %><br>


    <% if logged_in? %>

      <form class="comment_answer_button" action="/answers/<%= answer.id %>/comments" >
      <input type="hidden" value="<%= answer.question_id %>" name="question_id">
      <input type="submit" value="Add a comment">
      </form>
       <div class="comment_answer_form_container">
      </div>
      <form class="answer-upvote" action="/answers/<%= answer.id %>/upvote " method="post">
        <input type="submit" value="upvote" name= "vote">
      </form>

      <form class="answer-downvote" action="/answers/<%= answer.id %>/downvote" method="post">
        <input type="submit" value="downvote" name="vote">
      </form>

    <% end %>
    <% if logged_in? && is_current_user?(answer.user_id) %>
      <a href="/answers/<%= answer.id %>/edit">Edit or delete your answer</a>
    <% end %>

    <span>Score: <%= get_score(answer) %></span>
