"the show page - not working"


 <h1><%= @answer.title %></h1>

 <span <%= "Written on #{pretty_date(@answer.created_at)}." %></span>

 <span class="entry-date block font-3-4 c-lt-gray"><%= "Written on #{pretty_date(@answer.created_at)} by #{find_user(@answer.user_id)}." %></span>

<p><%= @answer.body %></p>

<% if login? && is_current_user?(@answer.user_id) %>

<ul class="no-bullets no-padding mar-t-2">
    <li class="pipe-separate left">
      <a href="/entries/<%= @answer.id %>/edit" class="c-white">edit</a>
      </form>
    </li>
  </ul>
