<div class="page-header">
  <h1>the show answer page</h1>
</div>

 <span <%= "Written on #{long_form_date(@answer.created_at)}." %></span>

 <span><%= "Written on #{long_form_date(@answer.created_at)} by #{find_user(@answer.user_id)}." %></span>

<p><%= @answer.body %></p>

<% if logged_in? && is_current_user?(@answer.user_id) %>
<ul>
  <li>
    <a href="/answers/<%= @answer.id %>/edit">edit</a>
  </li>
  <li>
    <form method="post" action="/answers/<%= @answer.id %>" class="inline">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </li>
</ul>
<% end %>